@media only screen and (min-width: 320px) {
  /* Brunico */
  .weather-map-new__icon--bruneck {
    bottom: 71%;
    right: 21.8%;
  }
  .weather-map-new__temp--bruneck {
    left: 80%;
    bottom: 66.5%;
  }
  .weather-map-new__town--bruneck {
    top: 29%;
    left: 67%;
    text-align: left;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }
  /* Bressanone */
  .weather-map-new__icon--brixen {
    bottom: 58%;
    right: 38%;
  }
  .weather-map-new__temp--brixen {
    left: 63.5%;
    bottom: 56.8%;
  }
  .weather-map-new__town--brixen {
    top: 44%;
    left: 61.3%;
  }
  /* Vipiteno */
  .weather-map-new__town--sterzing {
    top: 25%;
    left: 50.1%;
  }
  .weather-map-new__temp--sterzing {
    left: 52.3%;
    bottom: 79.3%;
  }
  .weather-map-new__icon--sterzing {
    top: 15%;
    right: 52%;
  }
  /* Bolzano */
  .weather-map-new__icon--bozen {
    bottom: 34.8%;
    right: 50.8%;
  }
  .weather-map-new__temp--bozen {
    right: 55%;
    bottom: 19%;
  }
  .weather-map-new__town--bozen {
    top: 70.3%;
    left: 43.9%;
  }
  /* Merano */
  .weather-map-new__town--meran {
    top: 51.4%;
    right: 63.6%;
    -webkit-transform: translateX(50%);
    -ms-transform: translateX(50%);
    transform: translateX(50%);
    text-align: center;
  }
  .weather-map-new__temp--meran {
    left: 36.5%;
    bottom: 53%;
  }
  .weather-map-new__icon--meran {
    bottom: 52%;
    left: 30%;
  }
  /* Schlanders */
  .weather-map-new__icon--schlanders {
    right: 83%;
    top: 43.6%;
  }
  .weather-map-new__temp--schlanders {
    right: 85.5%;
    top: 52.1%;
  }
  .weather-map-new__town--schlanders {
    top: 53.9%;
    left: 18.5%;
  }
  /* Dolomiten */
  .weather-map-new__icon--dolomiten {
    left: 83%;
    top: 40%;
  }
  .weather-map-new__temp--dolomiten {
    left: 90%;
    top: 40%;
  }
  .weather-map-new__town--dolomiten {
    top: 53.9%;
    left: 18.5%;
    display: none;
  }
}

@media only screen and (min-width: 768px) {
  /* Brunico */
  .weather-map-new__icon--bruneck {
    bottom: 71%;
    right: 21.8%;
  }
  .weather-map-new__temp--bruneck {
    left: 80%;
    bottom: 66.5%;
  }
  .weather-map-new__town--bruneck {
    top: 31%;
    left: 70%;
    text-align: left;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }
  /* Bressanone */
  .weather-map-new__icon--brixen {
    bottom: 58%;
    right: 38%;
  }
  .weather-map-new__temp--brixen {
    left: 63.5%;
    bottom: 56.8%;
  }
  .weather-map-new__town--brixen {
    top: 40%;
    left: 61.3%;
  }
  /* Vipiteno */
  .weather-map-new__town--sterzing {
    top: 25%;
    left: 50.1%;
  }
  .weather-map-new__temp--sterzing {
    left: 52.3%;
    bottom: 79.3%;
  }
  .weather-map-new__icon--sterzing {
    top: 15%;
    right: 52%;
  }
  /* Bolzano */
  .weather-map-new__icon--bozen {
    bottom: 34.8%;
    right: 50.8%;
  }
  .weather-map-new__temp--bozen {
    right: 55%;
    bottom: 19%;
  }
  .weather-map-new__town--bozen {
    top: 70.3%;
    left: 43.9%;
  }
  /* Merano */
  .weather-map-new__town--meran {
    top: 51.4%;
    right: 63.6%;
    -webkit-transform: translateX(50%);
    -ms-transform: translateX(50%);
    transform: translateX(50%);
    text-align: center;
  }
  .weather-map-new__temp--meran {
    left: 36.5%;
    bottom: 53%;
  }
  .weather-map-new__icon--meran {
    bottom: 52%;
    left: 30%;
  }
  /* Schlanders */
  .weather-map-new__icon--schlanders {
    right: 83%;
    top: 43.6%;
  }
  .weather-map-new__temp--schlanders {
    right: 85.5%;
    top: 52.1%;
  }
  .weather-map-new__town--schlanders {
    top: 53.9%;
    left: 18.5%;
  }
}

@media only screen and (min-width: 1024px) {
  /* Dolomiten */
  .weather-map-new__icon--dolomiten {
    left: 83%;
    top: 42%;
  }
  .weather-map-new__temp--dolomiten {
    left: 90%;
    top: 40%;
  }
  .weather-map-new__town--dolomiten {
    top: 53.9%;
    left: 18.5%;
    display: none;
  }
}

@media only screen and (min-width: 1200px) {
  /* Brunico */
  .weather-map-new__icon--bruneck {
    bottom: 71%;
    right: 21.8%;
  }
  .weather-map-new__temp--bruneck {
    left: 80%;
    bottom: 71%;
  }
  .weather-map-new__town--bruneck {
    top: 33.3%;
    left: 73%;
    text-align: left;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }
  /* Bressanone */
  .weather-map-new__icon--brixen {
    bottom: 58%;
    right: 38%;
  }
  .weather-map-new__temp--brixen {
    left: 63.5%;
    bottom: 58%;
  }
  .weather-map-new__town--brixen {
    top: 44%;
    left: 61.3%;
  }
  /* Vipiteno */
  .weather-map-new__icon--sterzing {
    left: 58%;
    bottom: 78.3%;
    top: auto;
  }
  .weather-map-new__temp--sterzing {
    left: 53.3%;
    bottom: 77.3%;
  }
  .weather-map-new__town--sterzing {
    top: 24%;
    left: 50.1%;
  }
  /* Bolzano */
  .weather-map-new__icon--bozen {
    bottom: 34.8%;
    right: 54%;
  }
  .weather-map-new__temp--bozen {
    right: 50%;
    bottom: 35%;
  }
  .weather-map-new__town--bozen {
    top: 70.3%;
    left: 43.9%;
  }
  /* Merano */
  .weather-map-new__town--meran {
    top: 51.4%;
    right: 63.6%;
    -webkit-transform: translateX(50%);
    -ms-transform: translateX(50%);
    transform: translateX(50%);
    text-align: center;
  }
  .weather-map-new__temp--meran {
    left: 36.5%;
    bottom: 53%;
  }
  .weather-map-new__icon--meran {
    bottom: 52%;
    left: 30%;
  }
  /* Schlanders */
  .weather-map-new__icon--schlanders {
    right: 83%;
    top: 43.6%;
  }
  .weather-map-new__temp--schlanders {
    right: 89%;
    top: 44%;
  }
  .weather-map-new__town--schlanders {
    top: 53.9%;
    left: 18.5%;
  }
}
